<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384514027217-18ar9chulr2932deq2ec9frefsje387e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384514027217-18ar9chulr2932deq2ec9frefsje387e</string>
	<key>API_KEY</key>
	<string>AIzaSyASQXIVZiUWn5accF0DlnB-ufMntmCpBVA</string>
	<key>GCM_SENDER_ID</key>
	<string>384514027217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.youtubeapp</string>
	<key>PROJECT_ID</key>
	<string>app-9db9b</string>
	<key>STORAGE_BUCKET</key>
	<string>app-9db9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384514027217:ios:ab547daee6592d13bb5ff0</string>
	<key>DATABASE_URL</key>
	<string>https://app-9db9b.firebaseio.com</string>
</dict>
</plist>